.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-flow: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.characters {
  display: flex;
  flex-flow: wrap;
}

.character {
  padding: 10px;
}

.character img {
  max-width: 250px;
}

.character p {
  font-size: 16px;
  font-weight: 700;
}
